.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

!/.yarn/plugins
!/.yarn/plugins/@yarnpkg
!/.yarn/releases
!/.yarn/sdks

*.log
.env*local
.idea
.sublime_project
.vscode
.yarn-integrity
/.pnp.*

build
coverage
dist
logs

node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*